<html>
<script src="libs\angular\angular\angular.min.js" type="text/javascript"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

Enter First Number:<input type="number" id="num1" ng-model="hello.firstvalue" /><br />
Enter Second Number:<input type="number" id="num2" ng-model="hello.secondvalue" /><br />
<input type="button" value="Sum" ng-click="sum(hello)" />
<input type="text" ng-model="addition" />
<p> the first value is={{firstvalue}}</p>
<p> the second value is={{secondvalue}}</p>
<p>the additionis= {{addition}}</p>

</div>
<script>
var myApp = angular.module('myApp', []);
myApp.controller("myCtrl", function ($scope) {
$scope.sum = function(hello)
{
$scope.firstvalue = $scope.hello.firstvalue;

$scope.secondvalue = $scope.hello.secondvalue;

$scope.addition =$scope.firstvalue + $scope.secondvalue;
}   
});
</script>
</body>
</html>